<div data-ng-controller="AccountsController" data-ng-init="findAllUserAccounts();">

	<h2>{{ 'Accounts' | translate }}</h2>
	<h3>{{ 'All Accounts' | translate }}</h3>

	<table class="table table-striped">
		<tbody>
			<tr data-ng-repeat="account in accountsList">
				<td><a href="#/accounts/{{ account.id }}">{{account.val.name}}</a></td>
				<td>{{ account.val.balance | currency }}</td>
				<td><a href="#/accounts/{{ account.id }}/edit">{{ 'Edit' | translate }}</a></td>
				<td><a href="" data-ng-click="removeAccount(account.id)">{{ 'Remove' | translate }}</a></td>
			</tr>
		</tbody>
	</table>

	<span id="test"></span>

	<br>

	<a class="btn btn-primary" href="#/accounts/create">{{ 'Create a new account' | translate }}</a>

</div>