<div data-ng-controller="AccountsController" data-ng-init="findOneAccount()">

	<h2>{{ account.name }}</h2>

	<p><strong>Balance: </strong>{{ account.balance | currency }}</p>

	<br>

	<h3>Last Operations</h3>

	<table class="table table-striped">
		<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="operation in account.operations">
			<td>{{ operation.dateCrea }}</td>
			<td>{{ operation.desc }}</td>
			<td>{{ operation.amount | currency }}</td>
		</tr>
		</tbody>
	</table>

	<br>

	<a href="#/accounts">View all Accounts</a>

</div>