<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="navbar.list">
            <span class="glyphicon glyphicon-home"></span>
          </a>
        </li>
        <li ng-class="{active: vm.$state.current.name === 'navbar.list'}">
          <a ui-sref="navbar.list">
            Liste
          </a>
        </li>
        <li ng-class="{active: vm.$state.current.name === 'navbar.contact'}">
          <a ui-sref="navbar.contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
