<div class="container container-detail">

  <div class="row">

    <!-- Big picture -->
    <div class="col-md-8 big-picture-wrapper">
      <img ng-src="{{detail.pathBigPicture}}" alt="" />
    </div>

    <!-- Description -->
    <div class="col-md-4 col-padding-top">
      <div ng-include="detail.templateDescUrl" style="padding-right: 20px;"></div>
      <p>
        <br><u>Prix :</u>&nbsp;&nbsp;{{ detail.item.prix | currency }} à débattre<br><br>
      </p>
    </div>
  </div>

  <!-- Small pictures on which we can click to zoom -->
  <div class="row">
    <div class="col-md-8">
      <div ng-repeat="chunk in detail.chunkPhotosList">
        <div class="row">
          <div ng-repeat="(filenameKey, filename) in chunk" class="col-xs-3 col-padding-top little-picture-wrapper">
            <img ng-src="assets/images/items/{{detail.item.name}}/{{filename}}.jpg"
                 ng-click="detail.selectPicture(filename)" alt=""
                 ng-class="{'selected': detail.selectedPicName === filename}"
                 class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p></p>
      </div>
    </div>
  </footer>

</div>
