<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">

	<div class="navbar-inner">
		<div class="container-fluid">

			<ul class="nav">
				<li><a class="brand" href="#/">MaBanque.Net</a></li>
				<li data-ng-repeat="entry in headerEntries" data-ng-show="auth" data-ng-class="{ active: entry.isActive }">
					<a href="#{{entry.link}}">{{ entry.title | translate }}</a>
				</li>
			</ul>

      <ul class="nav pull-right" style="padding-top: 8px;">
        <a ng-click="changeLanguage('en')" title="English" style="cursor: pointer;"><img src="./img/us.png" /></a>
        <a ng-click="changeLanguage('fr')" title="Français" style="cursor: pointer; margin-left: 5px;"><img src="./img/fr.png" /></a>
      </ul>

			<ul class="nav pull-right" data-ng-hide="!!auth.user">
				<li><a href="#/signup" style="padding-right: 0;">{{ 'Signup' | translate }}</a></li>
				<li><a href="#/login" style="padding-right: 25px;">{{ 'Signin' | translate }}</a></li>
			</ul>

			<ul class="nav pull-right" data-ng-show="!!auth.user">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
						{{ auth.user.email }} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="logout()">Signout</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</div>

</div>