<!-- Menu de gauche : Uniquement si un utilisateur est connecté-->
<div class="well sidebar-nav animate-fade" ng-controller="LeftMenuController" data-ng-if="auth">

	<ul class="nav nav-list">
		<li data-ng-repeat="entry in leftMenuEntries" data-ng-class="{ active: entry.isActive }">
			<a href="#{{entry.link}}">{{ entry.title | translate }}</a>
		</li>
	</ul>

	<div ng-if="isAdmin()">
		<hr>
		<ul class="nav nav-list">
			<li class="nav-header">Administration</li>
			<li ng-class="isActive('/admin/users', true)">
				<a href="#/admin/users">Utilisateurs</a>
			</li>
			<li ng-class="isActive('/admin/accounts', true)">
				<a href="#/admin/accounts">Comptes bancaires</a>
			</li>
			<li ng-class="isActive('/admin/operations', true)">
				<a href="#/admin/operations">Opérations</a>
			</li>
		</ul>
	</div>

</div>