<div data-ng-controller="TransfersController" data-ng-init="findAllTransfers()">

	<h2>Transfers</h2>
	<h3>All Transfers</h3>

	<table class="table table-striped">
		<tbody>
		<tr data-ng-repeat="transfer in transfersList">
			<td>{{ transfer.dateCrea }}</td>
			<td>{{ transfer.fromAccountName }}</td>
			<td> > </td>
			<td>{{ transfer.toAccountName }}</td>
			<td>{{ transfer.amount | currency }}</td>
			<td><a href="#/transfers/{{ transfer.$id }}">Detail</a></td>
		</tr>
		</tbody>
	</table>

	<br>

	<a href="#/transfers/create">Make a new transfer</a>

</div>