
<form style="text-align: center; margin-top: 25px;">

    <label>
        <input type="text" ng-model="email" placeholder="Email" />
    </label>

    <label>
        <input type="password" ng-model="pass" placeholder="Password" />
    </label>

    <label ng-cloak ng-show="createMode">
        <span>confirm pass</span>
        <input type="password" ng-model="confirm" />
    </label>

    <button class="btn btn-primary" ng-click="login()" ng-hide="createMode">Log In</button>
    <!--<button class="btn btn-success" ng-click="createMode = true" ng-hide="createMode">Register</button>
    <button ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
    <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>-->

    <p ng-show="err" class="error">{{err}}</p>
</form>

