
		<form class="ng-pristine ng-valid" style="text-align: center; margin-top: 25px;">

			<label>
				<input id="name" type="text" name="name" placeholder="Email" ng-model="email">
			</label>

			<label>
				<input id="email" type="text" name="email" placeholder="Password" ng-model="pass">
			</label>

			<label>
				<input id="password" type="password" name="password" placeholder="Confirm password" ng-model="confirm">
			</label>

			<div class="control-group">
				<!--<button class="btn" ng-click="login()" ng-hide="createMode">Log In</button>-->

				<button class="btn btn-primary" ng-click="createMode = true" ng-hide="createMode">Register</button>
				or <a href="#/login">Login</a>

				<button class="btn  btn-success" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
				<button class="btn" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
			</div>

		</form>

		<p ng-show="err" class="error">{{err}}</p>
