<div data-ng-controller="TransfersController" data-ng-init="findAllAccounts();">

	<h2>{{ 'New Transfer' | translate }}</h2>

	<form class="form-horizontal" novalidate="novalidate">

		<!-- From -->
		<div class="control-group">
			<label class="control-label" for="fromAccount">{{ 'From' | translate }}</label>
			<div class="controls">
				<select id="fromAccount" data-ng-model="transfer.fromAccount" data-ng-options="account.val.name for account in accountsList">
					<option data-ng-show="noAccount" value="">{{ 'Choose an account' | translate }}{{ ':' | translate }}</option>
				</select>
			</div>
		</div>

		<!-- To -->
		<div class="control-group">
			<label class="control-label" for="toAccount">{{ 'To' | translate }}</label>
			<div class="controls">
				<select id="toAccount" data-ng-model="transfer.toAccount" data-ng-options="account.val.name for account in accountsList">
					<option data-ng-show="noAccount" value="">{{ 'Choose an account' | translate }}{{ ':' | translate }}</option>
				</select>
			</div>
		</div>

		<!-- Amount -->
		<div class="control-group">
			<label class="control-label" for="amount">{{ 'Amount' | translate }}</label>
			<div class="controls">
				<input type="text" data-ng-model="transfer.amount" id="amount" placeholder="Amount">
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button data-ng-click="create()">{{ 'Do Transfer' | translate }}</button>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<a href="#/transfers">{{ 'View all Transfers' | translate }}</a>
			</div>
		</div>

	</form>

	<p data-ng-show="err" class="error">{{err}}</p>

</div>