<div data-ng-controller="TransfersController" data-ng-init="findAllUserTransfers()">

	<h2>{{ 'Transfers' | translate }}</h2>
	<h3>{{ 'All Transfers' | translate }}</h3>

	<table class="table table-striped">
		<tbody>
		<tr data-ng-repeat="transfer in transfersList">
			<td>{{ transfer.val.dateCrea }}</td>
			<td>{{ transfer.val.fromAccountName }}</td>
			<td> > </td>
			<td>{{ transfer.val.toAccountName }}</td>
			<td>{{ transfer.val.amount | currency }}</td>
			<td><a href="#/transfers/{{ transfer.id }}">{{ 'Detail' | translate }}</a></td>
		</tr>
		</tbody>
	</table>

	<br>

	<a href="#/transfers/create">{{ 'Make a new transfer' | translate }}</a>

</div>